
<!DOCTYPE html>
<html>
<head>
      
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <!--fontawesome icons-->
      <script src="https://kit.fontawesome.com/6c22af9ae8.js" crossorigin="anonymous"></script>
      <!--Let browser know website is optimized for mobile-->
      
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1"/>
      {% load static %}
      <!-- add css file-->
      {% block css%}{% endblock %}
      
      <title>{% block title%} {% endblock %}</title> 
</head>

<body>

      <!--nav-->
      <div class="navbar-fixed">
        <nav class="black">
          <div class="container">
            <div class="nav-wrapper">
              <a style="font-size: 1.7rem !important;" href="/" class="brand-logo">Public Library</a>
              <a href="register" data-target="mobile-nav" class="sidenav-trigger">
                <i class="material-icons">menu</i>
              </a>
              <ul class="right hide-on-med-and-down">
                <li>
                  <a href="/">
                    Homepage
                  </a>
                </li>
                <li>
                  <a href="/">
                    Login
                  </a> 
                </li>
                <li>
                  <a href="/">Sign out</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
      <ul class="sidenav" id="mobile-nav">
        <li>
          <a href="/">
            <i class="fa fa-home"><span style="margin-left: 10px;">Homepage</span></i>
          </a>
        </li>
        <li>
          <a href="/">
            <i class="fa fa-user"><span style="margin-left: 10px;">Login</span></i>
          </a> 
        </li>
        <li>
          <a href="/">Sign out</a>
        </li>
      </ul>
      <!--enter your content here-->
    
            {% block content%}
            {% endblock%}
      <!--JavaScript at end of body for optimized loading-->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

      <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>

     

      <script>
        //sidenav
        var elem1 = document.querySelector('.sidenav');
        var instance1 = new M.Sidenav(elem1);



      </script>

</body>
</html>



