{% extends 'base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
{% endblock%}

{% block title%} Dashboard {% endblock%}

{% block content %}
	<div class="">
		<div class="row">	
			<div class="col s12">
				<div>
					<h4>Student Information</h4>
					<h6><span>Name: </span>{{student.first_name}} {{student.last_name}}</h6>
					<h6><span>Email: </span>{{student.email}}</h6>
					<hr>
					<h4>Books History</h4>

					<table style="border: 1px solid grey;" class="highlight">
						<thead>
							<th>Cover</th>
							<th>Title</th>
							<th>Author</th>
							<th>Category</th>
							<th>Permission</th>
							<th>Date & Time</th>
						</thead>
						{% for item in books %}
						<tr>
							<td><img style="width: 70px;" class="responsive-img" src="{% static 'images/download.png' %}"></td>
							<td>{{item.book.title }}</td>
							<td>{{item.book.author}}</td>
							<td>{{item.book.categories}}</td>
							{% if item.accepted == True %}
							<td>Granted</td>
							{% else %}
							<td>Pending</td>
							{% endif %}
							<td>{{item.date_added}}</td>
						</tr>
						{% endfor %}
					</table>
				</div>		
			</div>		
		</div>
	</div>
{% endblock%}