{% extends 'base.html' %}

{% load static %}

{% block css %}
{% endblock%}

{% block title%} Dashboard {% endblock%}

{% block content %}
	<div class="container">
		<div style="margin-top: 60px;" class="row">
			<div class="col s12 m6">
				<div class="box-element">
					<div class="white-text">
						<h5>Welcome to</h5>
						<h5>Public Library</h5>
					</div>
					<hr>
					<h6 style="color: #d1bf8c;">Find your favorite book here....</h6>
					<button style="margin-top: 10px;"class="btn">Get Started</button>	
				</div>		
			</div>
		</div>
	</div>
{% endblock%}